<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dawn_of_Dominion.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Dawn_of_Dominion.My.MySettings>
            <setting name="FadeSpeed" serializeAs="String">
                <value>0.04</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SaveUser" serializeAs="String">
                <value />
            </setting>
            <setting name="Animations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Achievements" serializeAs="String">
                <value>AmbassadorFalse/Ambassador|HeroFalse/Hero|YOLOFalse/YOLO|Not Even a ScratchFalse/Not Even a Scratch|Grand TourFalse/Grand Tour|I am a h4ck3rFalse/I am a h4ck3r|AdvancedFalse/Advanced|</value>
            </setting>
            <setting name="MapsPlayed" serializeAs="String">
                <value>M0False/M0|M1False/M1|M2False/M2|M3False/M3|M4False/M4|M5False/M5|M6False/M6|</value>
            </setting>
        </Dawn_of_Dominion.My.MySettings>
    </userSettings>
</configuration>